.asia{
    background-color:#ffe1a8;
    color:#723d46;
    text-align: center;
    font-size: 30px;
}
#AsiaTitle{
    text-align: center;
    color:#723d46;
    font-size: 200px;
}
body{
    background-color:#FFF8EC;
}
a{
    text-decoration: none;
    color: #723d46;
}

.dancing-script {
                     font-family: "Dancing Script", cursive;
                     font-optical-sizing: auto;
                     font-weight:<weight>;
                     font-style: normal;
                 }
